@font-face {
  font-family: "Nasa";
  src: url("./assets/fonts/nasalization-rg.ttf");
}

/* Reset */
body,
div,
h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
li,
img,
a,
input,
label,
button {
  font-family: Nasa, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ddd;
  font-size: medium;
}

button,
input {
  height: 30px;
}

input {
  padding-left: 1em;
}

.button-search {
  background: #aaa;
  width: 100px;
}

.button-search[disabled] {
  background: #ccc;
  color: #999;
}

/* .block__elem--mod */

/* Header */

.header-main {
  display: flex;
  background: #a8937d;
  min-height: 100px; /* expand for wrapped text */
}

.header-main__logo {
  width: 80px;
  height: 80px;
}

.header-main__title-text {
  font-weight: bolder;
  font-size: 3em;
  margin: auto 0;
}

.main__status-text {
  width: calc(100% - 10px);
  font-size: 2em;
  text-align: center;
}

.main__thumbnail-image {
  height: 100px;
  border: 5px solid #fff;
  margin: 2px;
}

[aria-hidden="true"] {
  display: none;
}

.search-area {
  padding-left: 50px;
  margin-top: 20px;
}

.search-area label {
  margin-right: 1em;
  font-size: small;
}

.search-area input {
  margin-right: 2em;
}

.search-area button {
  margin-left: 2em;
}

main {
  padding: 10px 50px;
  width: calc(100% - 100px);
}

/* Responsive */
@media (max-width: 640px) {
  .header-main__title-text {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  body {
    background: #aaa;
  }

  main {
    background: #aaa;
    padding: 10px 10px;
    width: calc(100% - 20px);
    text-align: center;
  }

  .search-area {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #eee;
    padding-left: 10px;
  }

  .search-area button,
  .search-area label,
  .search-area input {
    display: block;
    margin: 0 auto 10px;
    width: 80%;
  }

  .search-area button {
    background: #ccc;
    margin-bottom: 20px;
  }

  .search-area input {
    margin-bottom: 10px;
  }
}
